@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    /* margin: 0; */
}

* {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.display-flex {
    display: flex;
}

/* dark 02 */
.text-gray {
    color: #424242;
}

/* dark 03 */
.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

/* header styles */

/* navbar styles */

header {
    padding: 30px 100px;
    margin-bottom: 130px;
}

.brand {
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    margin: 0;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    /* margin: 20px 100px 100px 100px; */
}

.navbar,
.banner {
    max-width: 1920px;
    margin: 0 auto;
}

header img {
    width: 100%;
    align-content: center;
}

.banner-content {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.btn-primary {
    font-weight: 600;
    font-size: 1.25rem;
    color: white;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    padding: 20px 25px;
    margin-bottom: 50px;

}



/* main styles */

main {
    max-width: 1920px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

/* team $ features styles */

.teams {
    align-items: center;
    margin: 0 150px;
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 24px;
}

.our-features {
    margin-left: 70px;
}

.team-image-container img {
    width: 220px;
}

.section-title {
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 24px;
}

#quick-list {
    font-weight: 500;
}

#of-our {
    color: #131313;
    font-weight: 700;
}

#features {
    color: #FF900E;
    font-weight: 700;
}

.feature-description {
    margin-bottom: 24px;
}

/* features will enjoy styles */
.features{
    margin: 0 150px;
    gap: 140px;
}
#features-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card{
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 10px;
}
.feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0;
    font-size: 14px;
}
.features-description{
    font-size: 0.85rem;
    font-weight: 400;
    color: #727272;
    line-height: 1.7;
    margin-bottom: 0;
}
.featured-architect img{
   width: 100%;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-weight: 700;
    font-size: 3rem;
}
/* some facts styles */

.some-facts {
    margin: 30px 100px;
}

.fact {
    border-radius: 8px;
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.fact-description{
    max-width: 540px;
    margin-bottom: 40px;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

/* sponsors styles */
.sponsor-info{
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 50px 100px;
}
.sponsor-companies img{
    filter: grayscale(100%);
}

/* responsive header */
@media screen and (max-width: 576px) {

    .navbar,
    .nav-links,
    .features,
    .teams {
        flex-direction: column;
    }

    .team-image-container,
    .fact-container,
    .sponsor-companies
    {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .teams {
        margin: 0;
    }

    .team-image-container img {
        width: 100%;
    }

    .our-features {
        margin-left: 50px;
    }
    .sponsor-companies{
        gap: 40px;
    }
    .features{
        margin: 0 20px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }

}


/* medium size devices */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams, .features {
        flex-direction: column;
    }
    .fact-container, .sponsor-companies{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 40px;
    }
}